<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SelfOrderingKioskConnectionString" connectionString="data source=localhost\SQLEXPRESS;initial catalog=Mcdonalds;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>